.App{
    height: 100%;
    font-size: 17px;
    font-weight: 500;
}
input{
    outline: none;
    caret-color: black;
}
input:focus{
    border: 2px solid black;
}
::selection{
    background-color: black;
    color: white;
}