.register-container{
    height: 96%;
    position: relative;
    padding: 0.5rem;
}

.register-navbar{
    position: absolute;
    width: 98%;
}
.register-navbar-cross-icon{
    position: absolute;
    right: 0rem;
    height: 2.5rem;
    transition: transform 0.5s ease;
}
.register-navbar-cross-icon:hover{
    cursor: pointer;
    transform: rotate(90deg);
}
.register-navbar-back-icon{
    position: absolute;
    left: 0rem;
    height: 2.5rem;
    transition: left 0.5s ease;
}
.register-navbar-back-icon:hover{
    cursor: pointer;
    left: -0.5rem;
}
.register-navbar-text{
    position: absolute;
    left: 45%;
    width: fit-content;
    margin: 0.5rem auto 0.5rem auto;
    letter-spacing: normal;
    transition: left 0.5s ease, letter-spacing 0.5s ease;
}
.register-navbar-text:hover{
    left: 44%;
    letter-spacing: 0.1rem;
}

.register-icon{
    width: fit-content;
    margin: 1rem auto 0rem auto;
}
.register-icon-img{
    border-radius: 50%;
    height: 8rem;
}

.register-form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.register-form-username{
    margin-bottom: 1rem;
}
.register-form-password{
    margin-bottom: 2rem;
}
.register-form-username-input, .register-form-password-input{
    border: 1px solid black;
    padding-left: 0.5rem;
    font-size: 15px;
    height: 1.5rem;
    width: 87.6%;
}
.register-form-password-input{
    margin-right: 0.25rem;
}
.register-form-username-text, .register-form-password-text{
    margin: 0rem;
}
.register-form-password-fields{
    display: flex;
}
.register-form-password-hide{
    height: 1.75rem;
}
.register-form-password-hide:hover{
    cursor: pointer;
}
.register-form-password-show{
    height: 1.75rem;
}
.register-form-password-show:hover{
    cursor: pointer;
}
.register-form-submit-btn{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    transition: background-color 0.5s ease, color 0.5s ease, padding 0.5s ease;
}
.register-form-submit-btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 0rem 1rem;
}
.register-form-submit-text{
    width: fit-content;
    margin: 0.5rem auto 0.5rem auto;
}